<!--Awal Jumbotron -->
<section class="jumbotron text-center mt-5" style="background-color: #7fffd4;">
    <img src="./img/img-about-me.png" width="300px" class="rounded-circle img-thumbnail mt-5"/>
    <h1 class="display-4 fw-bold fst-italic">Aman</h1>
    <p class="lead fw-bold fst-italic">Freelancer Frontend</p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,160L34.3,144C68.6,128,137,96,206,85.3C274.3,75,343,85,411,117.3C480,149,549,203,617,197.3C685.7,192,754,128,823,122.7C891.4,117,960,171,1029,176C1097.1,181,1166,139,1234,133.3C1302.9,128,1371,160,1406,176L1440,192L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</section>
<!-- Akhir Jumbotron -->

<!-- Awal About -->
<section id="about">
<div class="container">
    <div class="row text-center mb-3">
    <div class="col">
        <h2>About Me</h2>
    </div>
    </div>
    <div class="row justify-content-center fs-5 text-center">
    <div class="col-md-4 mb-3">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="col-md-4 mb-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7fffd4" fill-opacity="1" d="M0,288L0,128L36.9,128L36.9,224L73.8,224L73.8,192L110.8,192L110.8,160L147.7,160L147.7,288L184.6,288L184.6,96L221.5,96L221.5,64L258.5,64L258.5,0L295.4,0L295.4,64L332.3,64L332.3,256L369.2,256L369.2,256L406.2,256L406.2,32L443.1,32L443.1,224L480,224L480,192L516.9,192L516.9,288L553.8,288L553.8,224L590.8,224L590.8,64L627.7,64L627.7,192L664.6,192L664.6,96L701.5,96L701.5,224L738.5,224L738.5,96L775.4,96L775.4,160L812.3,160L812.3,128L849.2,128L849.2,256L886.2,256L886.2,192L923.1,192L923.1,64L960,64L960,64L996.9,64L996.9,128L1033.8,128L1033.8,224L1070.8,224L1070.8,288L1107.7,288L1107.7,160L1144.6,160L1144.6,288L1181.5,288L1181.5,256L1218.5,256L1218.5,160L1255.4,160L1255.4,96L1292.3,96L1292.3,256L1329.2,256L1329.2,32L1366.2,32L1366.2,128L1403.1,128L1403.1,224L1440,224L1440,320L1403.1,320L1403.1,320L1366.2,320L1366.2,320L1329.2,320L1329.2,320L1292.3,320L1292.3,320L1255.4,320L1255.4,320L1218.5,320L1218.5,320L1181.5,320L1181.5,320L1144.6,320L1144.6,320L1107.7,320L1107.7,320L1070.8,320L1070.8,320L1033.8,320L1033.8,320L996.9,320L996.9,320L960,320L960,320L923.1,320L923.1,320L886.2,320L886.2,320L849.2,320L849.2,320L812.3,320L812.3,320L775.4,320L775.4,320L738.5,320L738.5,320L701.5,320L701.5,320L664.6,320L664.6,320L627.7,320L627.7,320L590.8,320L590.8,320L553.8,320L553.8,320L516.9,320L516.9,320L480,320L480,320L443.1,320L443.1,320L406.2,320L406.2,320L369.2,320L369.2,320L332.3,320L332.3,320L295.4,320L295.4,320L258.5,320L258.5,320L221.5,320L221.5,320L184.6,320L184.6,320L147.7,320L147.7,320L110.8,320L110.8,320L73.8,320L73.8,320L36.9,320L36.9,320L0,320L0,320Z"></path></svg>
</section>
<!-- Akhir About -->

<!-- Footer -->
<footer class="footer text-white text-center pb-2" style="background-color: #7fffd4;">
    <p class="fs-6 fst-italic">Created by : <b>Aman</b><a href="https://github.com/aMand777" target="_blank" class="text-white fw-bold"><i class="bi bi-qr-code-scan ms-1"></i></p></a>
</footer>
    <!-- Akhir Footer -->
