<div class="container">
  <div class="rows">
    <div class="col mt-5">
      <h1 class="fw-5 fst-italic">Search Your Fav Movie</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control input-keyword" placeholder="Search movie .." />
        <button class="btn btn-primary search-button" type="button">Search</button>
      </div>
    </div>
  </div>

  <div class="row movie-container"></div>
</div>

<!-- Awal modal -->
<div class="modal fade" id="movieDetailModal" tabindex="-1" aria-labelledby="movieDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="movieDetailModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Akhhir modal -->

<script src="./js/script.js"></script>
